<!DOCTYPE html>

<html>
<head>
    <link rel= "stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}
    <p>This site by Igorrr</p>
    <img src="./img/node_exp.png">
    {{>footer}}

</body>
</html>