<!DOCTYPE html>

<html>
<head>
    <link rel= "stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}
    <h1> Help 'terrible Igor' </h1>
    <p>{{info}}</p>
    {{>footer}}
</body>
</html>