h1 {
    color: royalblue;
}
img {
    width: 250px;
}
input {
    border: 1px solid #cccc;
    padding: 8px;

}
button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    

}